<div class="container centered">  
  <h2>Hello there! here you will find all the animals that are in the shelter</h2>

  <hr>
  <form class= "inline" action="/animals" method="get">
    <p class= "inline"> Find animals by:</p>
      <select class= "inline" name="type">
      <% for type in @types %>
        <option value="<%= type.id %>"> <%= type.name %></option>
      <%end  %>
      </select>
      <select name="adoptable" id="adoptable">
      <option value= true> Adoptable </option>
      <option value= false> Not adoptable yet</option>
      </select>
        <input class= "inline" type="submit" value="Find">
  </form>
  <form class= "inline" action="/animals" method="get">
    <input class= "inline" type="submit" value="See All Animals">
  </form>
  <hr>
  <% for animal in @animals %>
    <p>Name: <%= animal.name %></p>
    <p>Type: <%= animal.find_type() %></p>
    <p> <img src="<%= animal.picture%>" alt="Animal picture">  </p>
    <p>Age: <%= animal.age %></p>
    <% if animal.adopted == "f" %>
      <p> <%= animal.name %> have been in El Refugio since <%= animal.admision_date %></p>
    <% else  %>
      <p> <%= animal.name %> was in El Refugio from <%= animal.admision_date %> until <%= animal.find_adoption_info().adoption_date %> </p>
    <% end  %>
    <% if animal.check_adoptability_web %>
       <p> <%= animal.name %> is adoptable!</p>
       <form class= "inline" action="/animals/<%= animal.id %>/set_owner">
         <input type="submit" value="Set an owner to this animal!">
       </form>
     <% elsif animal.check_adopted_false() %>
      <p> <%= animal.name %> is not ready for adoption yet!</p>
     <% elsif animal.check_adopted_true() %>
      <p> <%= animal.name %> was adopted by <%= animal.find_owner().name%></p>
    <% end %>

    <form class= "inline" action="/animals/<%= animal.id %>/edit">
      <input type="submit" value="Edit this animal">
    </form>

    <form class= "inline" method="post" action="/animals/<%= animal.id %>/delete">
      <input type="submit" value="Delete animal">
    </form>

    <% if animal.adoptable == "t" && animal.adopted == "f" %>
      <form class= "inline" method="post" action="/animals/<%= animal.id %>/non_adoptable">
        <input type="submit" value="Set animal as non-adoptable">
      </form>
    <% elsif animal.adoptable == "f" && animal.adopted == "f" %>
      <form class= "inline" method="post" action="/animals/<%= animal.id %>/adoptable">
        <input type="submit" value="Set animal as adoptable">
      </form>
    <% end %>

    <hr />
  <%end  %>
</div>
