<div class="container centered">
  <h2> Hi <%= @user.name%> thanks for your interest in <%= @animal.name  %></h2>

  <p> we know you will love <%= @animal.name  %></p>
  <p> <img src="<%= @animal.picture%>" alt="Animal picture">  </p>
  <hr>

  <h2>Before finishing this process just tell us a bit about you and why you want to adopt our lovely <%= @animal.find_type()%></h2>
  <div class="block centered">
    <form class="block centered" method="post" action="/users/animals/<%= @animal.id %>/set_user/<%= @user.id %>" >
      <label for="comment"> Add your comment: </label>
      <textarea class="centerfield" name="comment" cols="40" rows="5" style="display: block;"></textarea>
      <input class="light" type="submit" value="Create request">
    </form>
  </div>


  <hr />
</div>
